<!DOCTYPE html>
<html>
<head>
    <title>Cadastrar</title>
</head>
<body>
    <h1>Cadastrar Novo Usuario</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form action="{{ url_for('register') }}" method="POST">
        <label>Username:</label>
        <input type="text" name="username" required>
        <br>
        <label>Password:</label>
        <input type="password" name="password" required>
        <br>
        <button type="submit">Cadastrar</button>
    </form>
    <a href="{{ url_for('home') }}">Voltar</a>
</body>
</html>